/* elements in classes */

.uploads-table {
        /* Layout */
        margin-bottom: 20px;
        border-collapse: collapse;
}

.uploads-table a {
        text-decoration: none;  
}
.uploads-table a:hover {
        text-decoration: underline;     
}


.uploads-table th {
    padding-bottom: 5px;
    text-align: left;
   border-width: 0px;
}

.uploads-table th, .uploads-table th a {
    font-weight: bold;
    color: inherit;
}

.uploads-table tr.first td {
    border-top: 2px solid #073763;
}
.uploads-table tr.last td {
    border-bottom: 2px solid #073763;
}
.uploads-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;   
    padding-right: 20px;
    border-width: 0px;
}
.uploads-table tr.even {
    background-color: #cfe2f3;
}
