
.data-table th.fileSizeHeadingContainer {
	text-align: right;
}
.data-table td.fileSizeContainer {
    text-align: right;
}


.data-table th.rowsCountHeadingContainer {
	text-align: right;
}
.data-table td.rowsCountContainer {
    text-align: right;
}

.data-table th.columnCountHeadingContainer {
	text-align: right;
}
.data-table td.columnsCountContainer {
    text-align: right;
}

.merging-indicator {
	margin-left: 0px;
	margin-right: 20px;
	vertical-align: middle;
}