.exporting-indicator {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: middle;	
}
.deleting-indicator {
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: middle;	
}