
.guides-container {
	clear: both;	
}


.guides-menu {
        /* Layout */
        clear: both;
        float: left;
        margin-top: 0px;
        margin-bottom: 30px;
        border-bottom: solid 2px #073763;
        padding-left: 5px;
        padding-right: 100px;
        
        /* Appearance */
        list-style-type: none;
}
.guides-menu .item {
        float: left;
}
.guides-menu .item .selected {
        /* Appearance */
        background-color: #FFFFFF;      
        font-weight: bold;
}

.guides-menu .link {
        /* Layout */
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        border-top: solid 2px #073763;
        border-left: solid 2px #073763;
        border-right: solid 2px #073763;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 20px;
        padding-right: 20px;
        
        
        /* Appearance */
        background-color: #cfe2f3;
        color: #444444;
        font-size: 10pt;
        font-weight: normal;
        text-decoration: none;
}
.guides-menu .link:hover {
        background-color: #FFFFFF;      
}

 .guide {
 	clear: both;
 }
 
 .guide h4 {
 	margin-bottom: 8px;
 }
 .guide ol {
 	margin-top: 0px;
 	margin-bottom: 20px;
 }
 
 .guide ul {
 	margin-top: 0px;
 	margin-bottom: 20px;
 }
 .guide h6 {
	font-size: 10pt;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 8px;
}