.resolutions-by-cell {
	clear: both;	
}


.resolutions-by-cell-table {
	width: 100%;
	border-collapse: collapse;	
	margin-top: 20px; /* IE8 is ignoring the margin-top */
	background-color: white;
	border-top: solid 2px #073763;
	border-right: solid 2px #073763;
}

.resolutions-by-cell-table td {
	vertical-align: top;
}


.resolutions-by-cell-table th {
   border-width: 0px;
   padding-bottom: 5px;
}

.resolutions-by-cell-table tr.first td {
    border-top: 2px solid #073763;
}
.resolutions-by-cell-table tr.last td {
    border-bottom: 2px solid #073763;
}
.resolutions-by-cell-table td {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;   
    padding-right: 5px;
    border-width: 0px;
}
.resolutions-by-cell-table tr.even {
    background-color: #cfe2f3;
}
.resolutions-by-cell-table th {
	text-align: left;	
	padding-left: 10px;
	padding-right: 10px;
}
.resolutions-by-cell-table td {
	padding-left: 10px;
	padding-right: 10px;
}

.resolutions-by-cell-table td.conflicting-data {
	color: red;	
}
.resolutions-by-cell-table td.resolved-conflicting-data {
	color: orange;	
}
.resolutions-by-cell-table .key-heading {
	padding-right: 10px;
	vertical-align: middle;
}
.resolutions-by-cell-table .column-heading {
	text-align: center;
}
.resolutions-by-cell-table .source_1_value-heading
, .resolutions-by-cell-table .source_2_value-heading {
	text-align: center;		
}
.resolutions-by-cell-table .source_1_value-container
, .resolutions-by-cell-table .source_2_value-container {
	text-align: right;		
}

.resolutions-by-cell-table .solution_by_cell_id-container
, .resolutions-by-cell-table .column-heading
, .resolutions-by-cell-table .source_1_value-heading
, .resolutions-by-cell-table .source_1_value-container {
	border-left: 2px solid #073763;
}
.resolutions-by-cell-table .source_2_value-heading
, .resolutions-by-cell-table .source_2_value-container {
	border-left: 1px solid #cccccc;
}
.resolutions-by-cell-table .solution-heading
, .resolutions-by-cell-table .solution_by_cell_id-container {
	border-left: 1px solid #cccccc;	
}

.resolutions-by-cell-table td select {
	clear: both;
	float: left;	
	
}
.resolutions-by-cell-table td select.unresolved {
	color: red;	
}
.resolutions-by-cell-table td label {
	clear: both;
	float: left;
	margin-top: 13px;	
	
	font-weight: bold;
	
}
.resolutions-by-cell-table td input {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	width: 4em;	
}
