.joins-table {
	width: 100%;	
    border-collapse: collapse;
    margin-top: 20px;
    /* TODO: IE8 is ignoring the margin-top */
}

.joins-table td {
	vertical-align: top;
}

.joins-table .file-link-container {
	font-weight: normal;
}
.joins-table .problem-message-container {
	color: red;
	font-weight: normal;
	border-left: solid 2px #073763;
}

.joins-table th {
   border-width: 0px;
   padding-bottom: 5px;
}

.joins-table tr.first td {
    border-top: 2px solid #073763;
}
.joins-table tr.last td {
    border-bottom: 2px solid #073763;
}
.joins-table td {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;   
    padding-right: 5px;
    border-width: 0px;
}
.joins-table tr.even {
    background-color: #cfe2f3;
}

.joins-table .column_number-heading {
	text-align: left;
}
.joins-table .column_number-container {
	text-align: left;
}
.joins-table .column_number-container input {
	text-align: right;
	width: 4em;
}
.joins-table .key-heading {
	padding-right: 10px;
}
.joins-table .key-container {
	text-align: center;
	padding-right: 10px;
}
.joins-table .column_name-heading  {
	text-align: left;
	border-left: solid 2px #073763;
	padding-left: 10px;
}
.joins-table .datatable_1_column_name-container
, .joins-table .datatable_2_column_name-container
, .joins-table .constant_1-container 
, .joins-table .constant_2-container
, .joins-table .null-container
, .joins-table .column_name-container  {
	border-left: solid 2px #073763;
	padding-left: 10px;
}
.joins-table .remove-button-container {
	text-align: right;
	padding-top: 5px;	
	vertical-align: middle;
}
.joins-table .move-row-buttons-container {
	padding-top: 5px;
	vertical-align: middle;	
}
.joins-form input[readonly="readonly"] {
	border: 0px;
	background-color: inherit;
	color: inherit;	
}
/* For IE8 */
.joins-form tr.even input[readonly="readonly"] {
	background-color: #cfe2f3;
}


.joins-form button[disabled="disabled"] {
	/* display: none; */
}

.joins-form button.up {
	margin-right: 10px;
}

.new-join-form td {
	vertical-align: top;
}



.merge-info {
	clear: both;
	float: left;
}

.merge-info th {
	
	/* Appearance */
	text-align: left;
	vertical-align: top;
}

.merge-info td {
	padding-left: 10px;
	padding-bottom: 10px;
	
	vertical-align: top;
}


.problem-messages-container {
	
	/* Layout */
	float: left;	
	margin-left: 80px;
	
	/* Appearance */
	color: red;
}
.problem-messages-container p {
	margin-top: 0px;	
}

.buttons {
	float: right;
}

.buttons .item {
	clear: both;
	float: right;	
}
.buttons .item .saving-indicator {
	margin-right: 5px;
	vertical-align: middle;
}
.buttons .item button {
	margin-bottom: 5px;
	width: 150px;
}
.buttons .item a {
	display: block;
	margin-top: 20px;
}

.forms {
	clear: both;
}

.new-join-heading-container {
	font-size: 10pt;
	padding-top: 30px;
	
}
	
.join-table {
	
	/* Layout */
	width: 100%;
	border-collapse: collapse;
    border-top: 2px solid #073763;
    border-bottom: 2px solid #073763;
    
    /* Appearance */
    background-color: #cfe2f3;    	
}
.join-table th {
	padding-top: 5px;
	padding-bottom: 5px;
}

.join-table .key-heading {

	/* Layout */
	padding-left: 10px;
	
	/* Appearance */
	vertical-align: top;
}
.join-table .file-link-container {
	border-left: 2px solid #073763;
	padding-left: 10px;
	
	/* Appearance */
	font-weight: normal;
	text-align: left;
}
.join-table .datatable_1_column_name-container {
	border-left: 2px solid #073763;
	padding-left: 10px;
}
.join-table .datatable_2_column_name-container {
	border-left: 2px solid #073763;
	padding-left: 10px;
}
.join-table .constant_1-container {
	border-left: 2px solid #073763;
	padding-left: 10px;
	padding-bottom: 5px;
}
.join-table .constant_2-container {
	border-left: 2px solid #073763;
	padding-left: 10px;
	padding-bottom: 5px;
}
.join-table .constant_1-container label {
	font-weight: bold;
}
.join-table .constant_2-container label {
	font-weight: bold;
}
.join-table .constant_1-container input {
	margin-left: 5px;
}
.join-table .constant_2-container input {
	margin-left: 5px;
}
.join-table .column_name-heading {
	border-left: 2px solid #073763;
	padding-left: 10px;
	text-align: left;
}
.join-table .column_name-container, .join-table .below-column_name {
	border-left: 2px solid #073763;
	padding-left: 10px;
}