<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	  

	<context-param>
		<param-name>dbPath</param-name>
		<param-value>jdbc:mysql://localhost:3306</param-value>
	</context-param>
	<context-param>
		<param-name>dbUsername</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>adminUsername</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>adminPassword</param-name>
		<param-value>admin</param-value>
		<!-- 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918 -->
	</context-param>
  
</web-app>

