/* elements */

body {
        /* Layout */
        margin-top: 35px;
        margin-bottom: 20px;
        margin-left: 45px;
        margin-right: 45px;
        
        /* Appearance */
        background-color: #DDDDDD;

}

button {
	background-color: #cccccc;
	border: solid 2px #073763;	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	margin-right: 5px;
}
button:hover {
	background-color: #dddddd;
}

a.logoutLink {
	color: blue;
	cursor: pointer;
}

/* elements in classes */
a {
        text-decoration: none;  
}
a:hover {
        text-decoration: underline;    
        cursor: pointer; 
}



.page {
        /* Layout */
        padding-top: 5px;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;    
        
        /* Appearance */
        background-color: #FFFFFF;
        color: #444444;
        border: solid 1px #073763;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;        
}



.title {
        /* Layout */
        float: left;
        
        /* Appearance */
        font-weight: normal;
        font-size: 18pt;                
}
.user-menu {
        /* Layout */
        float: right;   
}
.user-menu .user {
        /* Layout */
        float: left;
        margin-right: 20px;
}
.user-menu .logout {
        /* Layout */
        float: left;
}

.apps-menu {
        /* Layout */
        clear: both;
        float: left;
        margin-left: -10px;
        margin-bottom: 30px;
        border-bottom: solid 2px #073763;
        padding-left: 5px;
        padding-right: 100px;
        
        /* Appearance */
        list-style-type: none;
}
.apps-menu .item {
        float: left;
}
.apps-menu .item .selected {
        /* Appearance */
        background-color: #FFFFFF;      
        font-weight: bold;
}

.apps-menu .link {
        /* Layout */
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        border-top: solid 2px #073763;
        border-left: solid 2px #073763;
        border-right: solid 2px #073763;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        
        
        /* Appearance */
        background-color: #cfe2f3;
        color: #444444;
        font-size: 12pt;
        font-weight: normal;
        text-decoration: none;
}
.apps-menu .link:hover {
        background-color: #FFFFFF;      
}


.page-title {
        
        /* Layout */
        clear: both;
        margin-left: 0px;
        margin-bottom: 20px;
        
        
        /* Appearance */
        font-weight: normal;    
        font-size: 14pt;
}

.divider-space {
        
        /* Layout */
        margin-bottom: 35px;
        border: 0px;
}

.field-title {
	font-size: 11pt;
}

.clearBoth {
	clear: both;	
}


.data-table {
        /* Layout */
        margin-bottom: 20px;
        border-collapse: collapse;
        padding-top: 10px;
}

.data-table a {
        text-decoration: none;  
}
.data-table a:hover {
        text-decoration: underline;     
}


.data-table th {
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 5px;
    text-align: left;
   border-width: 0px;
}

.data-table th, .data-table th a {
    font-weight: bold;
    color: inherit;
}

.data-table tr.first td {
    border-top: 2px solid #073763;
}
.data-table tr.last td {
    border-bottom: 2px solid #073763;
}
.data-table tr.even {
    background-color: #cfe2f3;
}
.data-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;   
    padding-right: 20px;
    border-width: 0px;
}
.data-table th.idHeadingContainer {
	text-align: right;
}
.data-table td.idContainer {
    text-align: right;
}

.error {
	color: red;
	font-weight: bold;	
	
}

.problem-message-container {
	color: red;	
}	